@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

html,
body,
#root {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
/* 
.slick-prev,
.slick-next {
  background: #3083ff !important;
  width: 40px !important;
}
.slick-prev:before,
.slick-next:before {
  color: white !important;
} */

/* Add more styles for responsiveness */
